# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
.idea/modules.xml
.idea/vcs.xml

# Mac
.DS_Store

# Maven
log/
screenshot/
*/target/**
*/test-output/**
/target/
/test-output/

