<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1">
	<test name="Selenium-Template-Suite">
	    <classes>
	        <class name="test.HomeTest"/>
	        <class name="test.InputFormTest"/>
	        <class name="test.RadioButtonsTest"/>
	        <class name="test.SelectDropdownTest"/>
	        <class name="test.SimpleFormDemoTest"/>
	        <class name="test.GoogleExampleTest"/>
	    </classes>
    </test>
</suite> <!-- Suite -->